@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background: #f3f4f6;
  padding: 24px;
}

/* Page container */
.product-page {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(280px, 520px) 1fr;
  gap: 30px;
}

/* Stack on mobile */
@media (max-width: 900px) {
  .product-page {
    grid-template-columns: 1fr;
  }
}

.product-header {
  margin-bottom: 20px;
}

.product-title {
  font-size: 2rem;
}

.img-section {
  padding: 20px;
}

.product-img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.breadcrumb {
  margin-bottom: 18px;
}

.breadcrumb ol {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumb ol li a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.current-page {
  color: #727b8a;
  font-weight: 600;
}

.product-desc {
  margin-bottom: 20px;
  max-width: 60ch; /* good reading width */
  font-size: 16px;
  line-height: 1.6;
}

.product-highlights {
  margin-bottom: 24px;
}

.highlight-title {
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.product-highlights ul {
  padding-left: 20px;
  font-size: 15px;
  line-height: 1.8;
  color: #34373c;
}

.product-meta {
  background: #e4e6ea;
  margin: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 20px;
  border-radius: 10px;
  max-width: 420px;
}

@media (max-width: 900px) {
  .product-meta {
    max-width: 100%;
  }
}

.attributes {
  display: flex;
  gap: 24px;
}

.attributes div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.attributes dt {
  color: #727b8a;
  font-weight: 400;
}

.attributes dd {
  font-weight: 600;
}

.price {
  font-size: 2.2rem;
  font-weight: 700;
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn {
    padding: 13px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
}

.primary {
    background: #652CD1;
    color: #fff;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 24px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}
